.main {
  height: 5.74rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  padding-bottom: 0.5rem; }
  .main .box {
    margin-top: 0.1rem;
    background: #fff;
    padding: 0.1rem 0.1rem 0.03rem;
    box-sizing: border-box; }
    .main .box img {
      width: 100%;
      height: 1.8rem;
      margin-bottom: 0.1rem; }
    .main .box .title {
      font-size: 0.16rem;
      line-height: 0.26rem;
      color: #bd8747; }
    .main .box .address {
      line-height: 0.2rem;
      color: #666; }
