.vue {
  padding-top: 0.2rem; }

.box {
  width: 3.35rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #ddd;
  position: relative; }
  .box input {
    width: 100%;
    background: transparent;
    line-height: 0.45rem;
    font-size: 0.13rem;
    color: #999; }
  .box .code {
    width: 2.65rem; }
  .box .getCode {
    display: inline-block;
    line-height: 0.45rem;
    color: #bd8747;
    font-size: 0.13rem;
    position: absolute;
    right: 0;
    top: 0; }

.login {
  width: 3.45rem;
  text-align: center;
  font-size: 0.14rem;
  line-height: 0.44rem;
  background: #bd8747;
  color: #fff;
  border-radius: 0.04rem;
  margin: 0 auto;
  margin-top: 0.6rem; }
