.vue {
  height: 2.3rem;
  background: #fff;
  padding: 0 0.1rem; }

.title {
  line-height: 0.5rem;
  font-size: 0.16rem;
  color: #bd8747;
  text-align: center; }

.userInfo {
  border-top: 0.01rem solid #ddd;
  border-bottom: 0.01rem solid #ddd;
  padding: 0.075rem 0; }
  .userInfo .cont {
    line-height: 0.3rem; }
    .userInfo .cont div {
      display: inline-block;
      text-indent: 0.05rem; }
    .userInfo .cont .type {
      font-size: 0.13rem;
      color: #999;
      width: 0.82rem; }
    .userInfo .cont .content {
      font-size: 0.15rem;
      color: #333; }

.classInfo {
  padding-top: 0.1rem;
  background: url("../images/right.png") no-repeat 3.4rem center;
  background-size: 0.18rem; }
  .classInfo .name {
    line-height: 0.25rem;
    font-size: 0.15rem;
    color: #333; }
  .classInfo .address {
    line-height: 0.23rem;
    font-size: 0.13rem;
    color: #999; }
