img {
  display: block; }

.main {
  height: 5.74rem;
  overflow-y: auto; }
  .main img {
    height: 2rem; }
  .main .content {
    position: relative;
    height: 0.9rem; }
    .main .content .name {
      padding-top: 0.05rem;
      line-height: 0.36rem;
      font-size: 0.16rem;
      text-indent: 0.15rem; }
    .main .content .description {
      color: #db8747;
      font-size: 0.13rem;
      text-indent: 0.15rem; }
    .main .content .price {
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
      font-size: 0.16rem;
      color: #b4282d; }
  .main .content::after {
    content: "";
    position: absolute;
    width: 3.55rem;
    height: 0.01rem;
    background: #ddd;
    bottom: 0.2rem;
    left: 0.1rem; }
