img {
  display: block; }

.userHeader {
  height: 1.5rem;
  box-sizing: border-box;
  padding-top: 0.34rem;
  background: url("../images/user/banner01.png") center no-repeat;
  background-size: 100% 100%; }
  .userHeader img {
    vertical-align: middle;
    margin-left: 0.15rem;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block; }
  .userHeader .userName {
    display: inline-block;
    vertical-align: middle;
    line-height: 0.8rem;
    margin-left: 0.1rem;
    font-size: 0.16rem;
    color: #fff; }

.myClass {
  margin-top: 0.1rem;
  background: #fff url("../images/right.png") 3.51rem center no-repeat;
  background-size: 0.16rem;
  line-height: 0.44rem;
  text-indent: 0.15rem;
  font-size: 0.15rem;
  color: #333; }

.logout {
  width: 3.35rem;
  margin: 2.6rem auto 0;
  border-radius: 0.04rem;
  color: #fff;
  background: #bd8747;
  font-size: 0.15rem;
  text-align: center;
  line-height: 0.44rem; }
