@charset "UTF-8";
/*header tap change*/
header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #ababab;
    font-size: 0.14rem;
    line-height: 0.48rem;
    text-align: center; }
  header .active {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #50d288;
    font-size: 0.14rem;
    line-height: 0.48rem;
    text-align: center;
    position: relative; }
  header .active::after {
    content: '';
    background-color: #50d288;
    width: 0.28rem;
    height: 0.05rem;
    border-radius: 0.02rem;
    position: absolute;
    left: 32%;
    bottom: 0; }

/*date*/
.date {
  line-height: 0.48rem;
  font-size: 0.14rem;
  text-align: center;
  margin-top: 0.08rem;
  background: #fff; }
  .date .prev {
    float: left;
    background: url("../images/left.png") no-repeat center;
    background-size: 0.16rem;
    width: 0.48rem;
    height: 0.48rem; }
  .date .next {
    float: right;
    background: url("../images/right.png") no-repeat center;
    background-size: 0.16rem;
    width: 0.48rem;
    height: 0.48rem; }

.info {
  margin-top: 0.08rem;
  background: #fff;
  position: relative;
  padding: 0 0.1rem;
  box-sizing: border-box; }
  .info div {
    line-height: 0.48rem;
    overflow: hidden; }
    .info div div {
      float: left;
      width: 50%; }
    .info div div:nth-child(n) {
      text-indent: 0.06rem; }
    .info div div:nth-child(2n) {
      text-indent: 0.16rem; }
  .info .up {
    border-bottom: 0.01rem solid #eee; }
  .info .down {
    border: 0; }

.info:after {
  content: '';
  width: 0.01rem;
  height: 0.72rem;
  background: #eee;
  position: absolute;
  left: 50%;
  top: 0.13rem; }

/*柱状图*/
.barBox {
  background: #fff;
  margin-top: 0.08rem; }
  .barBox .timestamp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .barBox .timestamp div {
      line-height: 0.64rem;
      font-size: 0.12rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
  .barBox .timestamp::after {
    content: "";
    width: 0.2rem;
    height: 0.01rem;
    position: absolute;
    left: 1.78rem;
    top: 0.31rem;
    background: #eee; }
  .barBox .bar {
    width: 100%;
    height: 2.96rem; }
