#map {
  width: 100%;
  height: 100%; }

html, body, .vue {
  width: 100%;
  height: 100%;
  position: relative; }

.header, .watcher, .traffic, .main, .refresh {
  position: absolute;
  background: rgba(255, 255, 255, 0.8); }

.header {
  top: 0.12rem;
  left: 0.16rem;
  width: 3.43rem;
  line-height: 0.48rem;
  border-radius: 0.04rem;
  box-sizing: border-box;
  padding: 0 0.16rem; }
  .header .fl {
    color: #333;
    font-size: 0.16rem; }
  .header .fr {
    color: #999999;
    font-size: 0.14rem; }

.watcher, .traffic {
  top: 0.76rem;
  right: 0.16rem;
  width: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  border-radius: 0.04rem;
  font-size: 0.12rem;
  color: #333; }

.traffic {
  top: 1.32rem; }

.main {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff; }
  .main .function {
    overflow: hidden;
    display: flex;
    border-bottom: 0.01rem solid #eee;
    width: 3.43rem;
    margin: 0 auto; }
    .main .function a {
      flex: 1;
      text-align: center;
      line-height: 0.48rem; }
    .main .function .track {
      background: url("../images/myCar/01tu.png") no-repeat 0.26rem 0.16rem;
      background-size: 0.15rem; }
    .main .function .monthForm {
      background: url("../images/myCar/02tu.png") no-repeat 0.26rem 0.16rem;
      background-size: 0.15rem; }
    .main .function .share {
      background: url("../images/myCar/share.png") no-repeat 0.26rem 0.16rem;
      background-size: 0.15rem; }
  .main .location {
    line-height: 0.48rem;
    font-size: 0.14rem;
    color: #333;
    overflow: hidden;
    padding: 0 0.16rem; }
    .main .location img {
      width: 0.16rem;
      height: 0.16rem;
      float: right;
      margin-top: 0.16rem; }
  .main .info {
    background: #f5f5f5;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
    line-height: 0.42rem; }
    .main .info div {
      float: left;
      width: 50%; }
    .main .info div:nth-child(n) {
      text-indent: 0.16rem; }
    .main .info div:nth-child(2n) {
      text-indent: 0; }
    .main .info div:nth-child(1), .main .info div:nth-child(2) {
      margin-top: 0.12rem; }
    .main .info div:nth-child(5), .main .info div:nth-child(6) {
      margin-bottom: 0.12rem; }
  .main .refresh {
    right: 0.16rem;
    top: -0.8rem;
    width: 0.6rem;
    height: 0.6rem;
    background: #22be69 url("../images/refresh.png") no-repeat 0.18rem 0.08rem;
    background-size: 0.22rem;
    border-radius: 100%;
    padding-top: 0.36rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.12rem;
    text-align: center; }

.hide {
  display: none; }
