/*main module*/
.main {
  height: 5.14rem;
  overflow: scroll;
  /*function module*/ }
  .main .carInfoItem {
    margin-bottom: 0.1rem;
    background: #fff;
    padding: 0.15rem;
    padding-bottom: 0;
    overflow: hidden; }
    .main .carInfoItem a {
      overflow: hidden; }
    .main .carInfoItem .carImg {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.04rem; }
    .main .carInfoItem .info {
      width: 2.56rem;
      height: 0.75rem; }
      .main .carInfoItem .info div:nth-child(n) {
        overflow: hidden;
        line-height: 0.26rem; }
      .main .carInfoItem .info div div:nth-child(n) {
        float: left; }
      .main .carInfoItem .info div div:nth-child(2n) {
        float: right; }
      .main .carInfoItem .info .top {
        font-size: 0.15rem;
        font-weight: bold;
        color: #343434; }
        .main .carInfoItem .info .top .carStatus {
          color: #09bb07; }
      .main .carInfoItem .info .middle {
        color: #585858;
        font-size: 0.12rem; }
      .main .carInfoItem .info .bottom {
        font-size: 0.12rem;
        line-height: 0.18rem;
        color: #bbb; }
  .main .gua {
    height: 0.6rem;
    width: 100%;
    display: flex; }
    .main .gua div {
      flex: 1;
      box-sizing: border-box;
      padding-top: 0.2rem; }
      .main .gua div img {
        width: 0.15rem;
        height: 0.15rem;
        vertical-align: middle;
        margin-left: 0.24rem; }
  .main .function {
    height: 0.72rem;
    width: 2.96rem; }
    .main .function div:nth-child(n) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .main .function div:nth-child(n) a {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        font-size: 0; }
        .main .function div:nth-child(n) a span {
          line-height: 0.3rem;
          display: inline-block;
          vertical-align: middle;
          font-size: 0.12rem;
          margin-left: 0.06rem; }
      .main .function div:nth-child(n) img {
        width: 0.15rem;
        height: 0.15rem;
        vertical-align: middle; }
    .main .function .up {
      padding-top: 0.06rem; }
  .main .share {
    width: 0.48rem;
    height: 0.3rem;
    padding-top: 0.26rem;
    font-size: 0; }
    .main .share img {
      display: inline-block;
      vertical-align: middle;
      width: 0.15rem;
      height: 0.15rem; }
    .main .share span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.13rem;
      margin-left: 0.04rem; }

.type {
  width: 100%;
  height: 0.48rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0; }
  .type div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #999;
    font-size: 0.16rem;
    line-height: 0.48rem; }
  .type .active {
    color: #09bb07; }
