<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="css/common.css" charset="utf-8">
  <link rel="stylesheet" href="css/absData.css" charset="utf-8">
  <script src="js/rem.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
	<title>ABS数据</title>
</head>
<body>

  <div class="vue">

    <div class="container" v-for="item in info">
      <div class="header">{{item.title}}</div>
      <div class="cont" v-for="i in item">
        <div>{{i}}</div>
      </div>
    </div>

    <div class="light">
      <div class="cont">
        <div :class="abs === 1 ? :">ABS灯</div>
        <div>ASR灯</div>
      </div>
    </div>

  </div>


  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/absData.js"></script>
</body>
</html>
