<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
	<title>车辆信息</title>
  <link rel="stylesheet" href="css/common.css" charset="utf-8">
  <link rel="stylesheet" href="css/carInfo.css" charset="utf-8">
  <script src="js/rem.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
</head>
<body>

  <div class="vue">
    <header>
      <img src="http://img5.imgtn.bdimg.com/it/u=3503642437,650188888&fm=21&gp=0.jpg">
      <div class="info">
        <div class="carName">小车一号</div>
        <div class="carNum">车架号：FL20302</div>
      </div>
      <a class="edit" href="editInfo.html" v-if="myself">编辑</a>
    </header>

    <div class="tagBar">
      <div :class="baseInfo ? 'baseInfo active' : 'baseInfo' " @click="tap('baseInfo')">基本信息</div>
      <div :class="carInfo ? 'carInfo active' : 'carInfo' " @click="tap('carInfo')">车辆信息</div>
    </div>

    <div id="infoModule">

      <ul class="container"   v-for="item in info">
        <div v-if="item.default">
          <li class="item" v-for="cont in item.detil" >{{cont}}</li>
        </div>
        <div v-else>
          <li class="itemStar" v-for="cont in item.detil" >{{cont}}</li>
          <li class="star"  v-for="value in item.score">
            <img src="images/starNone.png" v-if="value == 0">
            <img src="images/starHarlf.png" v-if="value == 0.5">
            <img src="images/starFull.png" v-if="value == 1">
          </li>
        </div>
      </ul>

      <div class="common-button" v-if="cancel">取消分享</div>

    </div>
  </div>


  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/carInfo.js"></script>
</body>
</html>
