<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>管理分享车辆</title>
  <link rel="stylesheet" href="css/common.css" charset="utf-8">
  <link rel="stylesheet" href="css/manageShare.css" charset="utf-8">
  <script src="js/rem.js"></script>
  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
</head>
<body>

  <div class="vue">

    <div class="common-searchBox">
      <input type="text" name="" placeholder="车牌号/车架号" v-on:blur="search(key)" v-model="key">
    </div>

    <ul>
      <li v-for="item in list">
        <a :href="'carInfo.html?type=cancel&sbh='+item.sbh+'&userid='+item.userid">
          <div class="plate">{{item.cph}}</div>
          <div class="num">{{item.cjh}}</div>
          <!-- <div class="shareCount">被分享50次</div> -->
        </a>
      </li>

    </ul>

  </div>

  <script src="js/common.js"></script>
  <script src="js/manageShare.js"></script>
</body>
</html>
