<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
	<title>车辆运行月度报表</title>
  <link rel="stylesheet" href="css/common.css" charset="utf-8">
  <link rel="stylesheet" href="css/monthForm.css" charset="utf-8">
  <script src="js/rem.js"></script>
  <script src="https://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
</head>
<body>

  <div class="vue">

    <header>
      <div :class="formState ? 'form-active' : 'form'" @click="tap('form')">报表</div>
      <div :class="detailState ? 'detail-active' : 'detail'" @click="tap('detail')">详细信息</div>
    </header>

    <div class="main-form" v-if="formState">
      <div class="carNum">
        <div class="plate">{{cph}}</div>
        <div class="num">{{sbh}}</div>
      </div>
      <div class="pieBox">
        <div class="date">
          {{Year}}-{{Month}}
          <div class="fl" @click="changeMonth('prev')"></div>
          <div class="fr" @click="changeMonth('next')"></div>
        </div>
        <div class="pie" v-if="formState"></div>
      </div>
      <div class="info">
        <div class="list">
          <div class="time">{{form.time}}</div>
          <div class="km">{{form.bdlc}}</div>
        </div>
        <div class="list">
          <div class="time">{{form.bdyh}}</div>
          <div class="km">{{form.rjlc}}</div>
        </div>
        <div class="list">
          <div class="time">{{form.pjcs}}</div>
          <div class="km">{{form.tjcs}}</div>
        </div>
        <div class="list">
          <div class="time">{{form_gs}}</div>
          <div class="km">{{form_other}}</div>
        </div>
        <!-- <div class="list">
          <div class="time">其他：343.Km</div>
        </div> -->
      </div>
    </div>

    <div class="main-detail"  v-if="detailState">
      <div class="header">
        <div class="date">日期</div>
        <div class="run">运行</div>
        <div class="lazy">怠速</div>
        <div class="empty">空挡</div>
        <div class="have">带档</div>
        <div class="km">里程</div>
        <div class="oilWear">油耗</div>
      </div>

      <div class="main">
        <div class="list" v-for="item in detail">
          <div class="date">{{item.rq}}</div>
          <div class="run">{{item.yx}}</div>
          <div class="lazy">{{item.ds}}</div>
          <div class="empty">{{item.kd}}</div>
          <div class="have">{{item.dd}}</div>
          <div class="km">{{item.lc}}</div>
          <div class="oilWear">{{item.yh}}</div>
        </div>

      </div>

      <div class="bottom">
        <div class="total">合计</div>
        <div class="run">{{total_yx}}</div>
        <div class="lazy">{{total_ds}}</div>
        <div class="empty">{{total_kd}}</div>
        <div class="have">{{total_dd}}</div>
        <div class="km">{{total_lc}}</div>
        <div class="oilWear">{{total_yh}}</div>
      </div>
    </div>

  </div>


  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/monthForm.js"></script>
</body>
</html>
