<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
	<title>注册</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.0/style/weui.min.css">
  <link rel="stylesheet" href="css/jquery-weui.min.css">
  <link rel="stylesheet" href="css/common.css" charset="utf-8">
  <link rel="stylesheet" href="css/login.css" charset="utf-8">
  <script src="js/rem.js"></script>
  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
</head>
<body>

  <div class="vue">
    <div class="box">
      <input type="text" placeholder="用户名" v-model="userName">
      <img src="images/login/01shouji.png" class="icon">
      <img src="images/login/03xian.png" class="line">
    </div>
    <div class="box">
      <input type="text" placeholder="密码" v-model="password">
      <img src="images/login/02shouji.png" class="icon">
      <img src="images/login/03xian.png" class="line">
    </div>
    <div :class="userNameState&&passwordState ? 'common-button':'common-button-forbidden'" @click="singUp()">注册</div>
  </div>

  <script src="//cdn.bootcss.com/jquery-weui/1.0.0/js/jquery-weui.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/singUp.js"></script>
</body>
</html>
