.scanCode{
  margin: 0.2rem auto;
}

.inputBox{
  padding: 0 0.12rem;
  background: #fff;
  li{
    border-bottom: 0.01rem solid rgb(238,238,238);
    height: 0.48rem;
    input{
      line-height: 0.48rem;
      font-size: 0.16rem;
      text-align: center;
      width: 100%;
    }
  }
  li:nth-child(4){
    border: 0;
  }
}

.confirmAdd{
  margin-top: 0.48rem;
}
