.container{
  background: rgb(251,251,251);
  .header{
    box-sizing: border-box;
    padding: 0 0.16rem;
    box-shadow: 0 0.01rem 0.01rem #eee;
    background: #fff;
    overflow: hidden;
     div{
       height: 0.48rem;
       line-height: 0.48rem;
       color: rgb(68,68,68);
       font-size: 0.14rem;
       float: left;
     }
     img{
       width: 0.2rem;
       height: 0.2rem;
       margin-right: 0.08rem;
       margin-top: 0.14rem;
       float: left;
     }
     .timestamp{
       color: rgb(170,170,170);
       text-align: right;
       float: right;
     }
  }
  ul{
    padding: 0 0.08rem;
    box-sizing: border-box;
    li{
      padding-top: 0.06rem;
      padding-bottom: 0.16rem;
      border-bottom: 0.01rem solid rgb(238, 238, 238);
      div{
        margin-top: 0.1rem;
        font-size: 0.14rem;
        color: rgb(68,68,68);
        line-height: 0.18rem;
        box-sizing: border-box;
        padding: 0 0.08rem;

      }
    }
    li:last-child{
      border: 0;
    }
  }
}
