// header
header{
  background: #fff;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
  color: #09bb07;
  font-size: 0.14rem;
  border-bottom: 0.01rem solid #e5e5e5;
  box-sizing: border-box;
  padding: 0 0.16rem;
  div{
    line-height: 0.44rem;
    font-size: 0.12rem;
    color: #343434;
  }
  .prev-active{
    background: url('../images/left-light.png') no-repeat left center;
    background-size: 0.15rem;
    padding-left: 0.15rem;
    color: #343434;
    float: left;
  }
  .prev{
    background: url('../images/left.png') no-repeat left center;
    background-size: 0.15rem;
    padding-left: 0.15rem;
    color: #9b9b9b;
    float: left;
  }
  .next-active{
    background: url('../images/right-light.png') no-repeat right center;
    background-size: 0.15rem;
    padding-right: 0.15rem;
    color: #343434;
    float: right;
  }
  .next{
    background: url('../images/right.png') no-repeat right center;
    background-size: 0.15rem;
    padding-right: 0.15rem;
    color: #9b9b9b;
    float: right;
  }
}
// total
.total{
  height: 0.48rem;
  padding: 0 0.15rem;
  .km,.oil{
    display: inline-block;
    width: 1.7rem;
    div{
      line-height: 0.48rem;
      float: left;
      font-size: 0.14rem;
    }
    .cont{
      color: #09bb07;
    }
  }
}
// detail
// <div class="detail">
//   <div class="header">
//     <div class="time">17:44:02 - 17:50:03</div>
//     <div class="min">6分钟</div>
//     <div class="map">地图模式</div>
//   </div>
.detail{
  padding: 0 0.15rem;
  box-sizing: border-box;
  background: #fff;
  .header{
    line-height: 0.44rem;
    height: 0.44rem;
    border-bottom: 0.01rem solid #eee;
    background: url('../images/right.png') no-repeat right center;
    background-size: 0.15rem;
    div{
      float: left;
    }
    .time{
      color: #343434;
    }
    .min{
      margin-left: 0.12rem;
      color: #9b9b9b;
    }
    .map{
      float: right;
      color: #9b9b9b;
      padding-right: 0.15rem;
    }
  }

  .track{
    .beginning,.end{
      margin-top: 0.14rem;
      line-height: 0.22rem;
      font-size: 0.14rem;
      text-indent: 0.28rem;
      background: url('../images/beginning.png') no-repeat left center;
      background-size: 0.16rem;
    }
    .end{
      background: url('../images/end.png') no-repeat left center;
      background-size: 0.16rem;
    }
    .info{
      overflow: hidden;
      margin-top: 0.04rem;
      padding-bottom: 0.16rem;
      .fl,.fr{
        width: 50%;
        position: relative;
        left: 0.28rem;
        div{
          line-height: 0.14rem;
          font-size: 0.12rem;
          margin-top: 0.14rem;
          color: #9b9b9b;
        }
      }
    }
  }
}
